@import "../../styles/variables.scss";

.container_home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  background-color: $white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    cursor: pointer;
    span {
      display: block;
      font-weight: bold;
      font-size: 24px;
      color: $grey-blue;
      line-height: 1.2;
      text-align: center;
    }
  }
}
.columnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arrow {
  width: 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.5s all;
}
.arrowUp {
  width: 10px;
  margin-right: 5px;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: 0.5s all;
}

.container_form::-webkit-scrollbar {
  display: none;
}
.container_form {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  align-items: center;
  background-color: $white;
  box-shadow: $box-shadow;
  max-height: 80%;
  overflow: auto;
  .container_input {
    display: flex;
    flex-direction: column;
    input {
      &:focus {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 25px;
  }
  .error {
    color: $red;
    margin: 8px 0;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    min-height: 20px;
  }

  .container_input_select {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    div {
      border-radius: 20px;
      &:focus {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .container_button {
    display: flex;
    flex-direction: column;
    //margin: 15px;
    button {
      padding: 10px 30px;
      background-image: linear-gradient(254deg, #a422c9, #5065ff);
    }
  }
  .container_forget_Password {
    margin: 10px;
    h5 {
      color: $gray-700;
      font-size: $h6-font-size;
      line-height: 1;
      text-align: left;
      margin: 0px;
    }
    h6 {
      font-size: $h6-font-size;
      line-height: 1;
      text-align: center;
      margin: 10px;
    }
  }
}
@media (min-width: 768px) {
  .columnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }
}

@media (max-width: map-get($breakpoints, "md")) {
  .container_home {
    .container_title {
      h3 {
        display: block;
        font-size: $h3-font-size;
        color: $gray-700;
        line-height: 1.2;
        text-align: center;
      }
    }
  }
  .container_form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90%;
    align-items: center;
    background-color: $white;
    .container_input {
      display: flex;
      flex-direction: column;
    }
    .container_input_select {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 15px;
      div {
        border-radius: 20px;
        &:focus {
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .row {
      justify-content: center;
    }
  }
  .container_select {
    display: flex;
    flex-direction: column;
    // padding: 10px 20px;
  }
}

// gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.container_select {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  // padding: 10px 5px;
}
.select_content {
  width: 200px;
}

.btn {
  background-color: #b82635;
  background-image: none !important;
  &:hover {
    background-color: #9a222b;
  }
}
