.container {
  height: 100%;
  width: 100%;
  /*   margin: 50px 0px;
 */
  position: relative;
  border-radius: 10px;

  &:hover ~ .static {
    opacity: 0;
  }
}
.withoutImage {
  height: 100%;
  width: 100%;

  position: relative;
  border-radius: 10px;
}
.containerSelected {
  height: 100%;
  width: 100%;
  /*   margin: 50px 0px;
 */
  position: relative;

  &:hover ~ .static {
    opacity: 0;
  }
  &::before {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    content: "";
    background-color: rgba(255, 0, 96, 0.5);
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
  }
}
.hideStatic {
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
}
.static {
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.static:hover {
  opacity: 0;
}

.active {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.heartImage {
  height: 18px;
  width: 20px !important;
  margin: 6px 0;
}
.likeText {
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
.number {
  width: 40px;
  height: 40px;
  border-radius: 39.5px;
  border: solid 1px #ffffff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 200;
  transition: 0.2s all ease-in-out;
  &:hover {
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #ff0060;
    width: 150px;
    height: 40px;
    object-fit: contain;
    border-radius: 20px;
    background-color: #ffffff;
  }
}
.dislikeContainer {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated_background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
