.logo {
  width: 229px;
  height: 60px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerContainer::before {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to left, #ff0060, #7533ff 51%, #00cfff);
  content: "";
  position: fixed;
  top: 0;
}

.logoWrapper {
  padding-top: 40.1px;
  padding-left: 50.3px;
}


