.circle {
  // background-color: #d8d8d8;
  // border: none;
  color: #f51a1a;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 25px;
  margin: 4px 15px;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: sans-serif;
  width: 45px;
  height: 45px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
}
