.circle {
  // background-color: #d8d8d8;
  // border: none;
  color: #f51a1a;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 25px;
  margin: 4px 15px;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: sans-serif;
  width: 70px;
  height: 70px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  font-family: Nunito;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: center;
  color: #7746e6;
}
