@import "../../styles/variables.scss";
.container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.star {
  display: flex;
  width: 32px;
  height: 30px;
  background-image: url("../../assets/icons/stars/ic_star_empty.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {
    background-image: url("../../assets/icons/stars/ic_star_opacity.svg");
  }
}
.star_pro {
  display: flex;
  width: 32px;
  height: 30px;
  background-image: url("../../assets/icons/stars/ic_star_empty.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {
    background-image: url("../../assets/icons/stars/ic_star_full_color.svg");
    opacity: 0.5;
  }
}

.star_checked {
  background-image: url("../../assets/icons/stars/ic_star_full.svg");
  display: flex;
  width: 32px;
  height: 30px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.star_checked_pro {
  background-image: url("../../assets/icons/stars/ic_star_full_color.svg");
  display: flex;
  width: 32px;
  height: 30px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 576px) {
  .star {
    width: 24px;
  }
  .star_checked {
    width: 24px;
  }
}
@media (max-width: 375px) {
  .star {
    width: 15px;
  }
  .star_checked {
    width: 15px;
  }
}
.bold_tooltip {
  font-weight: bold !important;
  margin-right: 3px;
}
.tooltip_star {
  color: $purple !important;
  background-color: $white !important;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
  width: 250px;
  &.place-right {
    &:after {
      border-right-color: $white !important;
      border-right-style: solid !important;
      border-right-width: 6px !important;
    }
  }
}
