.login_container_input {
  width: 90%;
  display: flex;
  margin: 15px;
  position: relative;
  border: 1px solid #999;
  line-height: 2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 10px;

}

.text_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.img_container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  .arrow {
    width: 15px;
    height: 15px;
    object-fit: contain;
    background-color: #443ad8;
    transform: rotate(90deg)
  }
}
.img {
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
}
.select_drop {
  position: absolute;
  border-radius: 5px;
  top: 34px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  max-height: 300px;
  overflow: auto;
  box-shadow: 0 2px 8px 0 rgba(40, 57, 82, 0.08);
}
.select_item {
  padding: 5px;
  padding-left: 15px;
}
