@import '../../../styles/variables.scss';

.login_container_input {
  width: 100%;
  display: flex;
  margin: 15px 0;
  position: relative;
  border: 1px solid $gray-500;
  line-height: 2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 10px;
  background-color: white;
  cursor: pointer;
}
.selectContainer {
  width: 25%;
  display: flex;
  margin: 0px 3px;
}
.text_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;
  height: 30px;
  color: $grey-blue
}
.img_container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  .arrow {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}
.select_drop {
  position: absolute;
  border-radius: 5px;
  top: 34px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  background-color: $white;
  max-height: 260px;
  overflow: auto;
  box-shadow: $box-shadow;
}
.select_item {
  padding: 5px;
  padding-left: 15px;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
@media (max-width: map-get($breakpoints, 'md')) {
  .login_container_input {
  }
}
input {
  outline: 0;
  background-color: #fff;

}

