@import "../../../styles/variables.scss";

.wrapper {
  width: 100%;
  height: 100%;
  @each $breakpoint in map-keys($breakpoints) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      padding: map-get($container-padding, $breakpoint);
    }
  }
}

.container {
  max-width: 645px;
  border-radius: 10px;
  background-color: $white;
  padding-bottom: 60px;
  width: 100%;
  position: relative;
}

.content {
  flex-wrap: wrap;
  padding: 0 47px;
}

.item {
  max-width: 100%;
  flex: 0 0 100%;
}

.header {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  @media (max-width: map-get($breakpoints, "smd")) {
    height: 50px;
  }
}

.circle_container {
  width: 90px;
  height: 90px;
  position: relative;

  @media (max-width: map-get($breakpoints, "smd")) {
    height: 40px;
    width: 40px;
  }
}

.circle_absolute {
  left: -15px;
  top: -15px;
  height: 120px;
  width: 120px;
  position: absolute;
  border-radius: 50%;
  background-color: $white;
  @media (max-width: map-get($breakpoints, "smd")) {
    left: -10px;
    top: -10px;
    height: 60px;
    width: 60px;
  }
}

.circle {
  background-color: rgba(117, 51, 255, 0.15);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  position: relative;
  top: -5px;
}

.circle_pro {
  background-color: rgba(207, 17, 178, 0.15);
}

.title {
  padding-top: 19px;
  font-family: Nunito;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: $medium-purple;
  @media (max-width: map-get($breakpoints, "smd" )) {
    font-size: 20px;
  }
}

.title_pro {
  color: $purple-red;
}

.description {
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  color: $mine-shaft;
  padding-top: 22px;
  @media (max-width: map-get($breakpoints, "smd" )) {
    font-size: 14px;
  }
}

.footer {
  padding-top: 48px;
  @media (max-width: map-get($breakpoints, "smd" )) {
    font-size: 24px;
  }
}

.continue_button {
  background-color: $medium-purple !important;
  background-image: none;
  font-size: 14px;
  @media (max-width: map-get($breakpoints, "smd" )) {
    font-size: 11px;
  }
}

.continue_button_pro {
  background-color: $purple-red !important;
  font-size: 14px;
}
