@import "../../../styles/variables.scss";
.container {
  height: 160px;
  border-radius: 5px;
  border: solid 1px #dddddd;
}
.Oval {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(222deg, #4e66ff, #00cfff);
  border-radius: 30px;
  position: relative;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px !important;
}

.Bitmap {
  width: 45px;
  height: 45px;
  /*   mix-blend-mode: multiply;
 */
}
.triangle {
  width: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #992bcf;
  transform: rotate(0deg);
  right: 25px;
  bottom: 59px;
}
.text {
  font-family: Lato;
  font-size: 16px;
  line-height: 2;
  color: #003189;
}
.wrapper {
  display: flex;
  align-items: center;
  height: 67px;
}
@media (max-width: map-get($breakpoints, "xs" )) {
  .Oval {
    display: none;
  }
  .wrapper {
    justify-content: center;
  }
  .text {
    margin-left: 0px !important;
  }
}
@media (max-width: map-get($breakpoints, "sm" )) {
  .Oval {
    display: none;
  }
  .wrapper {
    justify-content: center;
  }
  .text {
    margin-left: 0px !important;
  }
}

@media (max-width: map-get($breakpoints, "md" )) {
  .Oval {
    left:0% !important;
    margin-left:0% !important;
  }
  .wrapper {
    justify-content: center;
  }
  .text {
    margin-left: 20px !important;
  }
}