@import "../../styles/variables.scss";
.container_themes {
  display: flex;
  width: 100%;
  align-self: stretch;

  .content_themes {
    padding-left: 0px;
    width: calc(100% - 250px);
    @media (max-width: map-get($breakpoints, "md" )) {
      width: 100%;
      padding-left: 60px;
    }
    .grid_padding {
      padding-bottom: 15px;
      padding-top: 38px;
    }
  }
}
.theme {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  text-align: left;
}
.bar_color {
  background-image: linear-gradient(to left, $rose, $purple 51%, $cyan);
}

/* .backdrop {
  background-image: url("../../assets/icons/svg/rectangle.svg");
  object-fit: contain;
  opacity: 1 !important;
  background-color: #5726bf !important;
} */

.spinner_container {
  background-color: rgba(0, 0, 0, 0.5);
}
