@import "../../styles/variables.scss";
.new_theme {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
}

.new_theme_title {
  width: 15%;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  padding-left: 0;
  min-height: 120px;
}

.new_theme_activities {
  width: 42.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new_theme_skills {
  width: 42.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activities {
  color: #000;
  padding: 5px 0;
}

.activities_selected {
  color: red;
}
