@import '../../styles/variables.scss';
.new_theme {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
}

.new_theme_title {
  width: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  padding-left: 0;
  min-height: 120px;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 90%;
  height: 90%;
}

.new_theme_activities {
  width: 42.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.fullNewThemeActivities {
  width: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.new_theme_skills {
  width: 42.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activities {
  color: #000;
  padding: 10px 0;
  align-self: flex-start;
}
.title_activity {
  /*  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  color: #696b6d;
  width: 100% !important;
  padding-left: 5px;
}
.title_activity_check {
  color: #696b6d;
  width: 100% !important;
  cursor: pointer;
}
.titleFont {
  font-size: 13px;
}

.activities_selected {
  color: red;
}
.activityCheck {
  display: flex;
  width: 103%;
  align-items: center;
}
.chekboxAct {
  margin-right: 10px;
}
.competence {
  margin: 4px 0px;
}
.tooltip {
  color: #003189 !important;
  background-color: $white !important;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
  width: 250px;
  &.place-right {
    &:after {
      border-right-color: $white !important;
      border-right-style: solid !important;
      border-right-width: 6px !important;
    }
  }
}
.containerSpinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
