@import "../../styles/variables";
.container {
  display: flex;
  align-items: center;
}
.indexNumber {
  font-size: 28px;
  width: 25px;
  color: #223a7a;
  font-weight: bold;
  font-family: Nunito;
}
.arrowsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
}
.arrow {
  width: 20px;
  height: 20px;
  border: 1px solid #00cfff;
  background: white;
  border-radius: 5px;
  padding: 4px;
}
.arrowDown {
  @extend .arrow;
  transform: rotate(90deg);
}
.arrowUp {
  @extend .arrow;
  transform: rotate(-90deg);
}
