.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: calc(100% - 40px);
  height: 70px;
  border-radius: 5px;
  border: solid 1px #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}
.title div {
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}
.check_wrapper {
  width: 12px;
  height: 9.2px;
  margin-right: 20px;
}

.check {
  width: 100%;
}
.list_item {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #666666;
  display: flex;
  white-space: normal;
  flex: 1 1 0%;
}

.list {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: calc(100% - 40px);
  margin: auto;
}
.title_text {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.edit_button {
  color: #666666 !important;
  background-color: white !important;
  border: solid 1px #dddddd !important;
  padding: 10px 40px !important;
  font-family: Lato;
  margin-top: 31px !important;
  &:hover {
    color: white !important;
    background-color: #666666 !important;
  }
}
