@import '../../../styles/variables.scss';
.container {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $white;
  position: relative;
  flex: 1 1 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.description_container {
  flex: 1 1 auto;
  margin-left: 10px;
  position: relative;
  span {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $footer_color;
    width: 160px; 
  }
}
.delete_container {
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: -12px;
  .delete {
    cursor: pointer;
    /* position: absolute;
    top: -68px;
    right: -7px; */
    width: 53px;
    height: 54px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
.closeButton {
  width: 25px;
  height: 25px;
  padding: inherit;
  font-weight: 400;
  font-size: 14px;
  font-family: Nunito;
  text-transform: none;
}
