@import '../../../styles/variables.scss';
.container {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $white;
  position: relative;
  flex: 1 1 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35)
}

.description_container {
  flex: 1 1 auto;
  margin-left: 10px;
  position: relative;
  span {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $footer_color;
  }
}
.delete_container {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: -20px;
  .delete {
    cursor: pointer;
    position: absolute;
    top: -68px;
    right: -7px;
    width: 53px;
    height: 54px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
