.drag {
  height: 110px;
  border-radius: 10px;
  margin: 5px;
  &:focus {
    outline: none;
  }
  &:hover {
    background: #fff;
  }
}
.drag_on_drag {
  transform: scale(1.1);
  background: #fff;
  transition: transform 0.25s linear;
  width: 245px;
  height: 110px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  border: 5px solid #ff006026;
}
