@import '../../../styles/variables.scss';

.drag {
  height: 90px;
  border-radius: 10px;
  margin: 35px 15px;

  &:focus {
    outline: none;
  }
}
.drag_on_drag {
  transform: scale(1.1);
  transition: transform 0.25s linear;
  width: 245px;
  height: 110px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.btn_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.btn {
  background-image: none;
  background: #ffba27 !important;
  background-color: #ffba27 !important;
  padding: 10px 30px !important;
  &:hover {
    background-image: none;
    background-color: #e3a928 !important;
  }
}
.disabled {
  background-color: $footer_color !important;
  &:hover {
    background-color: $footer_color !important;
  }
}
.containerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  margin-top: 60px;
}

.text_selection {
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2.2px;
  color: $grey-blue;
}
