.button {
  border: none;
  color: white;
  padding: 5px 10px;
  z-index: 999;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 15px;
  position: absolute;
  top: 2%;
  left: 0%;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgba(86, 82, 82, 0.5);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 35%;
  height: 10%;
  &:hover {
    background-color: #0a1fbd;
  }
}
.buttonChecked {
  border: none;
  color: white;
  padding: 5px 10px;
  z-index: 999;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 15px;
  position: absolute;
  top: 2%;
  left: 0%;
  cursor: pointer;
  border-radius: 20px;
  background-color: #0a1fbd;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 35%;
  height: 10%;
}
