/** ---variables--- **/
@import "../../styles/variables";

$padding_left: 20px;

/** ---variables--- **/

.base {
  background-color: #fff;
  box-shadow: $box_shadow;
  padding-left: $padding_left;
  position: fixed;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;
}

.header {
  @extend .base;
  width: 100vw;
  height: $header_height;
  z-index: $header_zindex;
  background-color: #fff;
  box-shadow: $box_shadow;
  padding-left: $padding_left;
  text-transform: uppercase;
}

.sidebar_container {
  @extend .base;
  width: $sidebar_width;
  z-index: calc(#{$header_zindex} - 1);
  height: 100vh;
  padding-top: calc(#{$header_height} + 100px);
  align-items: flex-start;
  overflow: hidden;
  transition: width 0.22s linear;
  &:hover {
    width: $sidebar_open_width;
  }
}

.content {
  height: 100%;
  width: 100%;
  padding-top: $header_height;
  padding-left: $sidebar_width;
}
