@import "../../../styles/variables.scss";
.container {
  width: 500px;
  height: 200px;
  background-color: $white;
  border-radius: 10px;
}
.btn_container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.btn {
  padding: 10px 30px;
}
.btnOut{
  padding: 10px 30px;
  background-color: $darkblue;
}
.wrapperModal {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title_container {
  display: flex;
  justify-content: center;
  padding: 20px;
  h3 {
    color: $darkblue;
  }
}
