.container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  width: 100%;
}
.circle {
  position: absolute;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  right: -15px;
  cursor: pointer;
}

.delete {
  @extend .circle;
  top: 15px;
  border: 2px solid red;
}

.edit {
  @extend .circle;
  bottom: 15px;
  border: 2px solid orange;
}
