.container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  width: 100%;
}
.circle {
  position: absolute;
  right: -32px;
  cursor: pointer;
}

.delete {
  @extend .circle;
  top: 0px;
}

.edit {
  @extend .circle;
  top: 49px;
}
.editAdd {
  @extend .circle;
  bottom: 15px;
}
.hideButton{
  display: none
}
