.wrapperModal {
  display: flex;
  background: white;
  margin: 0 5%;
  position: relative;
  flex-direction: column;
}
.exit {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  padding: inherit;
  font-size: 14px;
  font-weight: 400;
}
.header {
  width: 100%;
  height: 100px;
  // box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  box-shadow: inset 0px -3px 6px 0px rgba(0, 0, 0, 0.12);
}
.container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.title {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.12),
    inset 0px -3px 6px 0px rgba(0, 0, 0, 0.12);
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 80%;
  flex-direction: column;
}
.top {
  width: 100%;
  height: 80%;
  background: white;
  margin: 5px 0;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.bottom {
  width: 100%;
  height: 45%;
  background: white;
  margin: 5px 0;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.12);
}
.descTitle {
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  height: fit-content;
  font-size: 18px;
  font-weight: 600;
  color: #003189;
  text-transform: uppercase;
  font-family: Nunito;
}
.descText {
  width: 90%;
  height: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  font-size: 14px;
  color: #696b6d;
}
.jobSelection {
  margin-left: 20px;
  margin-top: 5px;
  width: 80%;
  height: 45px;
}
.footer {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.12);
}
.carou > div:first-child {
  width: 100% !important;
  height: 100%;

  /* &:hover {
-webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
} */
}
.carou > div:first-child > div:nth-child(2) {
  height: 100%;
}
.carou > div:first-child > div:nth-child(2) > ul {
  height: 100%;
}
.carou > div:first-child > div:nth-child(2) > ul li {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #000;
  height: 100%;
}
.carou {
  height: 453px;
}
li::before {
  content: none !important;
}
.directionRow {
  display: flex;
}
.directionRowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.directionRowBtn2 {
  display: flex;
  width: 45%;
  justify-content: flex-end;
}
.textbtn {
  font-size: 16px;
}
.wrraperBtn {
  display: flex;
  width: 55%;
  justify-content: flex-end;
}
.contentModal2 {
  flex: 1 0 auto;
}
.btnContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60%;
}
.next {
  height: 50px;
  width: 60px;
  img {
    width: 50%;
  }
}
.info {
  height: 45%;
  width: 100%;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
}
.bold1 {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: bolder;
  font-family: Nunito;
  margin: 5px 0px;
}
.bold2 {
  color: #003189;
  font-size: 18px;
  font-weight: bolder;
  font-family: Nunito;
  margin: 5px 0px;
}
.titlePage {
  width: 100%;
  padding-left: 20px;
}
.number {
  font-size: 40px;
  font-family: Nunito;
  color: #003189;
  font-weight: bolder;
}
.textPage {
  font-size: 20px;
  font-family: Nunito;
  color: #003189;
  font-weight: bolder;
}
.activities {
  // height: 42%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75%;
}
.interestWrapper {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.verticalLine {
  width: 1px;
  height: 75%;
  background-color: #696b6d;
}
.titleInterest {
  font-size: 12px;
  color: #696b6d;
  text-align: center;
  line-height: 1.2;
}
.InterestNumber {
  text-align: center;
  position: absolute;
  top: 0;
  font-weight: bolder;
  color: #003189;
  font-family: Nunito;
}
.interestTitle {
  font-size: 20px;
  font-family: Nunito;
  color: #003189;
  font-weight: bolder;
  padding-top: 6px;
  display: flex;
  justify-content: flex-start;
  width: 92%;
}
.immersion {
  height: 50px;
  position: absolute;
  top: 20px;
  left: 490px;
}
.star {
  margin: 0 3px;
}
.starsContainer {
  display: flex;
  padding-left: 10px;
}

.contentTitle {
  display: flex;
  flex-direction: row;
}

.rightCanvas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 80%;
  flex-direction: column;
  position: relative;
}
.showChart {
  display: none;
}
.hiddenButton {
  display: none;
}
.bodyChart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.12),
    inset 0px -3px 6px 0px rgba(0, 0, 0, 0.12);
  position: relative;
}
.canvasContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .interestTitle {
    font-size: 13px;
  }
  .immersion {
    left: 450px;
  }
  .number {
    font-size: 20px;
  }
  .textPage {
    font-size: 14px;
  }
  .canvas {
    display: none !important;
  }
  .rightCanvasPopUp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    background: white;
  }
  .showChart {
    display: block;
  }
  .hidebuttonShow {
    display: none;
  }
  .canvasShow {
    display: block;
  }
  .canvasContainer {
    position: relative;
    height: 80vh;
    width: 80vw;
  }
  .hidebuttonShow {
    position: absolute;
    top: 0;
    right: 0;
  }
  .hiddenButton {
    display: none;
  }
  .closeChartModal {
    position: absolute;
    top: 0;
    right: 0;
  }
}
