@import "../../styles/variables.scss";
.container {
  display: flex;
  margin-top: 40px;
  align-items: center;
  @media (max-width: map-get($breakpoints, "md")) {
    flex-wrap: wrap;
  }
}
.item_container {
  display: flex;
  margin: 0 5px 0px 7.5px;
  @media (max-width: map-get($breakpoints, "md")) {
    margin: 0 2px 0px 3.5px;
  }
}
.item {
  display: flex;
  margin: 0 5px 0px 7.5px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: $footer_color;
  cursor: pointer;
  @media (max-width: map-get($breakpoints, "md")) {
    margin: 0 3px 0px 3.5px;
  }
}
.item_selected {
  display: flex;
  margin: 0 5px 0px 7.5px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #b82635;
  @media (max-width: map-get($breakpoints, "md")) {
    margin: 0 3px 0px 3.5px;
  }
}
.item_selected_pro {
  display: flex;
  margin: 0 5px 0px 7.5px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ff701e;
  @media (max-width: map-get($breakpoints, "md")) {
    margin: 0 3px 0px 3.5px;
  }
}
.item_selectes_standard {
  display: flex;
  margin: 0 5px 0px 7.5px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ffba27;
  @media (max-width: map-get($breakpoints, "md")) {
    margin: 0 3px 0px 3.5px;
  }
}
