@import "bootstrap/bootstrap.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  flex: 0 0 auto;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute_fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fixed_fill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
