@import "../../../styles/variables.scss";

.container {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dddddd;
  &:hover {
    border: none;
    padding: 1px;
  }
}

.container_focus {
  border: none;
  padding: 1px;
}

.card {
  background-color: $card_background;
  transition: 0.25s all;
  width: 100%;
  height: 90px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  .check {
    opacity: 0;
  }
}
.title {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: $title_card;
  word-wrap: break-word;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title:hover {
  color: $white;
}

.title_focus {
  color: $white;
}

.card:hover {
  background-image: linear-gradient(247deg, $wisteria, $perano);

  .title {
    color: $white;
  }
}
.card_focus {
  background-image: linear-gradient(247deg, $darkOrchid, $neonBlue);
  outline: none;
  border: none;
  .title {
    color: $white;
  }
  .check {
    opacity: 1;
  }
}

.check {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  object-fit: contain;
  border: none;
}
