@import "../../styles/variables.scss";
.container_themes {
  display: flex;
  width: 100%;
  align-self: stretch;
  .content_themes {
    padding-left: 0px;
    width: calc(100% - 250px);
    @media (max-width: map-get($breakpoints, "md" )) {
      width: 100%;
      padding-left: 60px;
    }
    .grid_padding {
      padding-bottom: 15px;
      padding-top: 38px;
    }
  }
}
.theme {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  text-align: left;
}

.continue_container {
  justify-content: flex-end;
  display: flex;
  padding-top: 75px;
  padding-bottom: 65px;

  @media (max-width: map-get($breakpoints, "md" )) {
    padding-top: 45px;
    padding-bottom: 35px;
  }
}
.bar_color{
  background-image: linear-gradient(to left, #ff0060, #7533ff 51%, #00cfff);
}