@import '../../styles/variables.scss';
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.add {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  width: 100%;
  color: blue;
  padding: 20px calc(#{$profile_horizontal_padding} * 1.2);
}

.themes_container {
  padding: 20px calc(#{$profile_horizontal_padding} * 1.2);
  width: 100%;
}

.themes {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  @media (max-width: map-get($breakpoints , 'md' )) {
    justify-content: center;
  }
}

.theme_title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  padding: 10px;
  min-width: 90px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.wrapperGrey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  padding: 10px;
  min-width: 90px;
  cursor: pointer;
  transform: scale(1.4);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.theme_selected_title {
  color: red !important;
}
