@import "../../styles/variables.scss";
.title_container {
  display: flex;
  align-items: center;
 
  .logo_container {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    margin-right: 20px;
    @media (max-width: map-get($breakpoints, "md")) {
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
  .title_content {
    .title {
      font-family: Nunito;
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $purple;
      @media (max-width: map-get($breakpoints, "md")) {
        font-size: 25px;
      }
    }
  }
 
}
