.container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: transparent;
  position: relative;
  &:hover {
    &::before {
      content: '';
      width: 70%;
      height: 70%;
      // background: red;
      position: absolute;
      border-radius: 50%;
      border: 1px solid #2f2f2f40;
      animation: animate 0.5s infinite;
    }
  }
}
.multiIcon {
  width: 30px;
}
.text {
  margin: 0 10px;
}
.textBottom {
  margin-top: 7px;
  font-size: 14px;
}
.textFooter {
  margin: 0 10px;
  font-size: 14px;
}
.textFont {
  font-size: 14px;
  margin-left: 20px;
  width: 130px;
}

.validateContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 17px;
  justify-content: space-between;
  color: #7992bf;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s all;
  cursor: pointer;
  flex-direction: row-reverse;
}

.containerleft {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  justify-content: space-between;
  color: #7992bf;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s all;
  cursor: pointer;
  flex-direction: row;
}
.containerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7992bf;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s all;
  cursor: pointer;
  flex-direction: column-reverse;
}
.warning {
  width: 35px;
  height: 35px;
}
.validIcon {
  height: 100%;
}
@keyframes animate {
  0% {
    width: 20%;
    height: 20%;
    opacity: 0;
    border: 1px solid white;
  }
}
