@import '../../styles/variables.scss';
.container {
  padding-bottom: 75px !important;
}

.title {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: $footer_color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}
.title_stars {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title_active {
  color: $purple;
}
.title_active_pro {
  color: $purple-red;
}

.continue_button {
  margin: auto;
  margin-top: 55px;
}

.info_pro {
  color: $purple-red;
}
.button_pro {
  
  background-image: linear-gradient(to left, #ff009a, #a521c8);
    margin: auto;
    margin-top: 55px;
}


@media (max-width: 1024px) {
  .title {
    font-size: 16px;
    width: 45%;
  }
  .list_stars {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
  .experiences {
    display: none;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 14px;
    width: 40%;
  }
  .title_active {
    font-size: 14px;
    width: 40%;
  }
  .title {
    font-size: 14px;
    width: 40%;
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 12px;
  }
}
.bar_color{
  background-image: linear-gradient(to left, $darkOrchid, $neonBlue);
  left: 0

}