@import "../../../styles/variables.scss";
.container {
  padding: 17px 0px 31px 0px;
  width: 100%;
}
.item {
  display: flex;
  align-items: center;
}
.label {
  font-size: 13px;
  line-height: 2.31;
  color: $darkblue;
  margin-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 0%;
}
.value {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}
.bold_tooltip {
  font-weight: bold !important;
  margin-right: 3px;
}

.tooltip {
  color: $purple !important;
  background-color: $white !important;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
  width: 250px;
  &.place-right {
    &:after {
      border-right-color: $white !important;
      border-right-style: solid !important;
      border-right-width: 6px !important;
    }
  }
}
