.button {
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 15px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #555555;
  transition: .5s all;
}
.button:hover {
  background-color: #7b7979;
  
}
.button:focus {
  outline: none;
  background-color: #3e3e3e;
}
