.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  position: relative;
  height: 50px;
  margin: 0px 15px;
  cursor: pointer;
  
}
.iconContainer {
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 1px;
  position: absolute;
  left: 0;
  background: white;
}
.remove {
  position: absolute;
  right: -17px;
  width: auto;
  height: auto;
}
.titleContainer{
    width: 93%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    background-color: white
}
.jobTitle {
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    font-weight: bold;
    color: #696b6d;
    font-size: 15px;
}