@import "../../../styles/variables.scss";
.container {
  width: 100%;
  background-color: $card_background;
  height: 200px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  color: $title_card;
  position: relative;
  padding-bottom: 55px;
  overflow: hidden;
}
.container_1 {
  width: 100%;
  background-color: $card_background;
  height: 270px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  color: $title_card;
  position: relative;
  padding-bottom: 55px;
  overflow: hidden;
  flex-direction: column;
}

.container_interested {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.title {
  position: relative;
  width: 100%;
  text-align: center;
  color: inherit;
  font-weight: bold;
  line-height: 1.4;
}

.like {
  margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.footer_button {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  color: #fff;
  height: 100%;
  width: 100%;
  height: 40px;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: #ff0060;
    background-image: none;
  }
}

.footer_dislike {
  &:hover {
    background-color: #00cfff;
    background-image: none;
  }
}

.img {
  height: 20px;
  width: 20px;
}

.footer_like_active {
  background-color: #ff0060;
  background-image: none;
  cursor: default;
}

.footer_dislike_active {
  background-color: #00cfff;
  background-image: none;
  cursor: default;
}

.interested {
  background-color: rgba(255, 0, 96, 0.5);
}

.not_interested {
  background-color: rgba(0, 207, 255, 0.5);
}

.footer_hidden_button {
  background-color: transparent;
  background-image: none;
  &:hover {
    background-color: transparent !important;
  }
  cursor: default;
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}
.text_container {
  height: 57px;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  margin: 25px 0px;
}
.text_container:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.text_container::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}
.text_short {
  height: 57px;
  position: relative;
  line-height: 1.2em;
  text-align: justify;
  margin: 13px 0px;
}
.tooltip {
  color: $darkblue !important;
  background-color: $white !important;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
  &.place-right {
    &:after {
      border-right-color: $white !important;
      border-right-style: solid !important;
      border-right-width: 6px !important;
    }
  }
}