@import "../../../styles/variables.scss";
.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(257deg, $neon-blue-light, $cyan);
  position: relative;
  overflow: hidden;
}
.mark1::before {
  -webkit-text-stroke: 1px #ffffff;
  font-family: Georgia;
  font-size: 300%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.56;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  content: "?";
  position: absolute;
  left: 52%;
  top: 15%;
}
.mark2::before {
  -webkit-text-stroke: 1px #ffffff;
  font-family: Georgia;
  font-size: 600%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.56;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  content: "?";
  position: absolute;
  right: 22%;
  top: 37%;
}
.mark3::before {
  -webkit-text-stroke: 1px #ffffff;
  font-family: Georgia;
  font-size: 1200%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.56;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  content: "?";
  position: absolute;
  right: -5%;
  top: -3%;
}
