@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 100%;
  overflow: scroll;
  padding-bottom: 20px;
}
.container::-webkit-scrollbar {
  display: none;
}
.title_container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 0px;
}
.contentTitle {
  width: 50%;
  padding-left: 20px;
}
.contentTitleScore {
  width: 50%;
  display: flex;
  justify-content: center;
}
.title {
  color: $grey-blue;
}
.question_containers {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 23px;
}
.question {
  text-align: center;
  width: 70%;
}
.question_title {
  color: $text-muted;
  font-size: 14px;
}
.btn_container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn_remove {
  padding-left: 20px;
}
.btn_validate {
  padding-right: 20px;
  color: #7a93bc;
}
.btn_disabled {
  color: gray;
}
.btn_validate_color {
  padding-right: 20px;
  color: #ffba27 !important;
}
.btn_remove_color {
  padding-right: 20px;
  color: #e55d67 !important;
}
.redWork {
  color: #e55d67;
  width: 100%;
}
.orangeWork {
  color: #ffba27;
  width: 100%;
}
.greenWork {
  color: $teal;
  width: 100%;
}
.grayWork {
  color: $text-muted;
}
.btnValidate{
background-color: $grey-blue;
padding: 12px 20px;
}
.container_btn{
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px

}