@import '../../styles/variables.scss';

.selections {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 20px;
}
.selection_title {
  color: $grey-blue;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
.arrow {
  width: 13px;
  height: 13px;
  transition: all 0.7s ease;
  margin-right: 3px;
}
.arrowRoteted {
  width: 13px;
  height: 13px;
  margin-right: 3px;
  transform: rotate(90deg);
  transition: all 0.7s ease;
}
.filter_container_child {
  display: flex;
  width: 100%;
  height: 0px;
  background-color: #f1f1f1;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.7s ease;
  background-color: #f1f1f1;
}
.filter_containerOpen_child {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  transition: all 0.7s ease;
  animation: slidein 0.3s ease 1 normal;
}
.entrepriseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.entreproseDetail {
  width: 300px;
  height: 200px;
  background-color: grey;
  margin: 3px;
}
