@import "../../../styles/variables.scss";
.container {
  border-radius: 5px;
  border: solid 1px $progress_bar;
  height: auto;
  padding: 40px 22px 22px 22px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
.title_container {
  font-family: Nunito;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.45;
  text-align: center;
  color: $darkblue;
}
.footer {
  font-size: 12px;
  line-height: 2.33;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  background: #003189;
  border-radius: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  &:hover {
    .arrow {
      transform: rotate(90deg);
    }
  }
}
.arrow {
  width: 8px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}
