.line {
  height: 6px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    to right,
    #233c78 0%,
    #233c78 39.4%,
    #fc1262 39.4%,
    #fc1262 46.3%,
    #24d0fd 46.3%,
    #24d0fd 47.8%,
    #7540fb 47.6%,
    #7540fb 50.5%,
    #233c78 50.5%,
    #233c78 100%
  );
}
