@import "../../styles/variables.scss";

.container {
  display: flex;
  width: 100%;
  align-self: stretch;
}

.jobs_container {
  width: calc(100% - 250px);
  @media (max-width: map-get($breakpoints, "md" )) {
    width: 100%;
  }
}

.title {
  font-family: Nunito;
  font-size: 48px;
  font-weight: bold;
  color: $darkblue;
  padding-top: 50px;
  padding-bottom: 25px;
}

.info {
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: $darkblue;
}

.loading_container {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $zindex-fixed;
}

.secteur {
  color: $darkblue;
  font-size: 20px;
  margin-bottom: 10px;
}

.job_portion {
  padding: 30px !important ;
}

.competence_container {
  margin-top: 20px;
  @media (max-width: map-get($breakpoints, "lg" )) {
    display: none;
  }
}
.btn_container_jobs {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0px;
}
.btn_jobs {
  background-color: $rose !important;
  background-image: none !important;
}
.italic_text {
  font-size: 12px;
  font-style: italic;
  color: $darkblue;
}
