@import '../../styles/variables.scss';
.headerContainer{
    padding-top: 40.1px;
    padding-left: 50.3px
}
@media (max-width: map-get($breakpoints, "xs" )) {
    .headerContainer{
        padding-top: 20.1px;
        padding-left: 30.3px
    }
}
@media (max-width: map-get($breakpoints, "sm" )) {
    .headerContainer{
        padding-top: 20.1px;
        padding-left: 20.3px;
    }
}