.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-255deg, #ba4117, #b97c1d);
  position: relative;
  overflow: hidden;
}
.t1 {
  height: 145%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 48%;
  top: -30%;
}
.t2 {
  width: 85px;
  height: 93%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 63%;
  bottom: 38%;
}
.t3 {
  height: 171%;
  -webkit-transform: rotate(45deg);
  transform: rotate(50deg);
  position: absolute;
  left: 65%;
  bottom: -21%;
}
.t4 {
  height: 120%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 87%;
  bottom: -10%;
}
