@import '../../styles/variables.scss';
$padding_left: 20px;

@keyframes placeHolderShimmer {
  0% {
    background-position: -950px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
html {
  scroll-behavior: smooth;
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}
.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.item2 {
  display: flex;
  flex-direction: row-reverse;
  // background-color: $card_background;
  justify-content: center;
}
.gridContainer {
  display: flex;
  flex-direction: column;
}
.cardContainer {
  height: 200px;
  padding: 5%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  color: #003189;
}
.text_container_selection {
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 150px; */
  height: 25%;
}
.text_selection {
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2.2px;
  color: $footer_color;
}
.logo_container {
  width: 152.6px;
  height: auto;
  margin-top: 40px;
  cursor: pointer;
}
.logo {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
}
.text_info {
  color: #ffba27;
}
.italic_text {
  font-size: 12px;
  font-style: italic;
  color: #ffba27;
}
li {
  width: 100% !important;
}

.carou > div:first-child {
  width: 97% !important;
  border-radius: 2% !important;

  /* &:hover {
-webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
} */
}
.carou > div:first-child > div:nth-child(2) {
  height: 100%;
}
.carou > div:first-child > div:nth-child(2) > ul {
  height: 100%;
}
.carou > div:first-child > div:nth-child(2) > ul li {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #000;
  height: 100%;
}
.loaderImage {
  width: 100%;
  height: 100%;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 400px;
  position: relative;
}
.carou > div:first-child > button:first-child::before {
  border-right: 8px solid #000000 !important;
}
.carou > div:first-child > button:last-child::before {
  border-left: 8px solid #000000 !important;
}

.sideBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  // background: #dddddd
}
.container_loading {
  width: 100%;
  height: 100%;
  position: relative;
}
.scrollNext {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.tips {
  color: #ffba27;

  margin: 0 45px;
  text-align: center;
  line-height: 1.6;
  font-size: larger;
  font-family: Lato;
  font-weight: bold;
}
.base {
  background-color: #fff;
  box-shadow: $box_shadow;
  padding-left: $padding_left;
  position: fixed;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;
}

.sidebar_container {
  @extend .base;
  width: $sidebar_width;
  z-index: calc(#{$header_zindex} - 1);
  height: 100vh;
  padding-top: calc(#{$header_height} + 100px);
  align-items: flex-start;
  overflow: hidden;
  transition: width 0.22s linear;
  &:hover {
    width: $sidebar_open_width;
  }
}
.btnContainer {
  display: flex;
  height: 100px;
}
.next {
  height: 50px;
  width: 60px;
  img {
    width: 50%;
  }
}
.carouselContainer {
  width: 77%;
}
.underContainer {
  flex-direction: row-reverse;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .carouselContainer {
    width: 60%;
  }
  .underContainer {
    flex-direction: row-reverse;
    width: 90%;
  }
}

.progress {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #00cfff
}
