@import "../../styles/variables.scss";

.logout_container {
  display: flex;
  justify-content: flex-end;
}

.logout {
  height: 40px;
  border-radius: 30px;
  border: solid 1px #dddddd;
  padding: 0;
  margin: 0;
  padding-right: 40px;
  padding-left: 15px;
  position: relative;
  cursor: pointer;
  transition: opacity 0.25s linear;
  max-width: 250px;
  &:hover {
    opacity: 0.5;
  }
  @media (max-width: map-get($breakpoints, "smd" )) {
    border: none;
    padding: 0 10px;
    border-radius: 0;
  }
}
.logoHome {
  height: 50px;
  width: 50px;
}
.logout_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  flex: 1 1 auto;
  @media (max-width: map-get($breakpoints, "smd" )) {
    display: none;
  }
}

.logout_icon_container {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: map-get($breakpoints, "smd" )) {
    right: 0;
  }
}

.logout_icon {
  height: 16px;
  width: 16px;
  @media (max-width: map-get($breakpoints, "smd" )) {
    height: 30px;
    width: 30px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f1f1f1;
}

.commencerBtn {
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #efefef;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.7px;
  text-align: center;
  margin: 0 auto;
  width: auto;
  text-transform: uppercase;
  background-color: #b82635;
  &:hover {
    background-color: #9a222b;
  }
}

.btn_text {
  margin-right: 15px;
}

.WithSub {
  margin: 0 auto;
}

.cardContainer {
  background-image: linear-gradient(255deg, #ffba27, #ff2215 51%, #003189);
  mix-blend-mode: multiply;
  padding-top: 20px;
  align-items: stretch;
  justify-content: center;
}

.left_triangle_container {
  height: 21px;
  width: calc(50% - 15px);
  left: 0;
  top: -1px;
  position: absolute;

  &::before {
    background: $white;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    content: "";
  }

  &::after {
    width: 0;
    height: 0;
    border-top: 21px solid $white;
    border-right: 21px solid transparent;
    position: absolute;
    content: "";
    left: calc(100% - 1px);
    bottom: 0;
    transform: rotate(-5deg);
  }
}

.right_triangle_container {
  height: 21px;
  width: calc(50% - 20px);
  right: 0;
  top: -1px;
  position: absolute;

  &::before {
    background: $white;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    content: "";
  }

  &::after {
    width: 0;
    height: 0;
    border-top: 21px solid $white;
    border-left: 21px solid transparent;
    position: absolute;
    content: "";
    right: calc(100% - 1px);
    bottom: 0;
    transform: rotate(5deg);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  /*   justify-content: space-between;
 */
  height: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  align-items: center;
}

.logo {
  width: 229px;
  height: 60px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.headerContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.cardContainerBackground {
  background: #000;
  opacity: 0.25;
}

.step_card {
  padding: 40px 0;
}

.step {
  margin: auto;
  font-family: Nunito;
  font-size: 48px;
  font-weight: bold;
  line-height: 0.58;
}

.step_1 {
  color: #4a2045;
}

.step_2 {
  color: #b82635;
}

.step_3 {
  color: #ff701e;
}

.card_content {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .contentContainer {
    height: 568px;
  }
  .logo {
    width: 150px;
    height: auto;
  }
}
@media only screen and (max-width: 480px) {
  .contentContainer {
    height: 568px;
  }
}
