@import "../../styles/variables.scss";
@keyframes placeHolderShimmer {
  0% {
    background-position: -950px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}
.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $card_background;
}
.gridContainer {
  display: flex;
  flex-direction: column;
}
.cardContainer {
  height: 200px;
  padding: 5%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  color: #003189;
}
.text_container_selection {
  display: flex;
  justify-content: center;
  /*   margin-top: 150px;
 */
  margin-bottom: 20;
}
.text_selection {
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2.2px;
  color: $footer_color;
}
.logo_container {
  width: 152.6px;
  height: 50px;
  margin-top: 40px;
  cursor: pointer;
}
.logo {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
}
.text_info {
  color: #003189;
}
.italic_text {
  font-size: 12px;
  font-style: italic;
  color: $darkblue;
}
li {
  width: 100% !important;
}

.carou > div:first-child {
  width: 97% !important;
  border-radius: 2% !important;

  /*  &:hover {
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
  } */
}
.loaderImage {
  width: 100%;
  height: 100%;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 400px;
  position: relative;
}
.carou > div:first-child > button:first-child::before {
  border-right: 8px solid #000000 !important;
}
.carou > div:first-child > button:last-child::before {
  border-left: 8px solid #000000 !important;
}
.sideBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.container_loading{
  width: 100%;
  height: 100%;
  position: relative;
}