.stepperCircle {
  background-color: gray;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  margin: 7px;
  cursor: pointer;
}
.stepperCIRCLE {
  cursor: pointer;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  margin: 7px;
  transform: scale(1.7);
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    width: 80%;
    height: 80%;
    background: #7a93bc;
    position: absolute;
    border-radius: 50%;
  }
}
.btn_validate {
  width: 30px;
  height: 30px;
}
