.stepperCircle {
  border: 1px solid #1d1af3;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  margin: 7px;
}
.stepperCIRCLE {
  border: 1px solid #1d1af3;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  margin: 7px;
  transform: scale(1.7);
}
