.card {
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: .5s all;
    flex: 1 1 auto !important;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    border: 6px solid #dfdfdf;
    cursor: pointer;
}
.title {
    font-family: sans-serif;
    font-weight: 500;
    color: #696969;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-wrap: break-word;
    display: block;
    font-size: 2em;
}

.card:hover{
    background-color: white;
    border: 6px solid #bebebe;
    box-sizing: border-box;
}
.card:focus{
    background-color: white;
    border: 6px solid #bebebe;
}