.footerWrapper {
  width: 100%;
  background-color: #efefef;
  display: flex;
  align-items: center;
}
.footer {
  width: 100%;
  
  display: flex;
  align-items: center;
}
.textFooter {
  width: 238px;
  height: 48px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #666666;
}
.logosContainer {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}

.footerContainer {
  max-width: 1280px;
    align-items: center;
    margin: auto;
}
.gpi {
    width: 186px;
  height: 117px;
  object-fit: contain;
  padding-right:20px;
}
.national {
    width: 100px;
  height: 70px;
  object-fit: contain;
  padding-left: 20px;
  padding-right:25px;
}
.beta {
    width: 100px;
  height: 59px;
  object-fit: contain;
  padding-left:25px;
  padding-right:25px;
}
.orange {
    width: 100px;
  height: 26.5px;
  object-fit: contain;
  padding-left:25px;
}
@media only screen and (max-width:1280px)
{
  .intermediate{
    width: 20%;
  }

}
@media only screen and (max-width:1024px)
{
  .intermediate{
    width: 8%;
  }

}
@media only screen and (max-width:768px)
{
  .intermediate{
    width: 10px;
  }

}
@media only screen and (max-width:568px)
{
  .intermediate{
    width: 0px;
  }
  .beta{
    width: icon-size;
  }
  .gpi{
    width: icon-size;
  }
  .national{
    width: icon-size;
  }
  .orange{
    width: icon-size;
  }

}
@media only screen and (max-width:375px) {
  .gpi{
    width:90px;
  }
  .national{
    width:80px;
  }
  .beta {
    width:80px;
  }
  .orange{
    width:80px;
  }
}

