@import "../../styles/variables.scss";

.footerWrapper {
  width: 100%;
  /*   height: 15%;
 */
  background-color: #ffff;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-shadow: 0px -8px 6px -1px rgba(147, 149, 153, 0.18);
  -moz-box-shadow: 0px -8px 6px -1px rgba(147, 149, 153, 0.18);
  box-shadow: 0px -8px 6px -1px rgba(147, 149, 153, 0.18);
}
.footer {
  width: 100%;
  display: flex;
  align-items: center;
}
.textFooter {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $footer_color;
  @media (max-width: map-get($breakpoints, "lg" )) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    margin: 15px 0;
    font-size: 14px;
  }
}

.footerContainer {
  align-items: center;
  margin: auto;
}

.logosContainer {
  width: 150px;

  height: auto;
}
.national1x {
  height: 70px;
  height: auto;
}
.beta {
  width: 75px;
  height: auto;
}
.orange {
  width: 75px;
  height: auto;
  @media (max-width: map-get($breakpoints, "smd" )) {
    height: auto;
  }
}

.images {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  img {
    margin: 15px;
  }
  @media (max-width: map-get($breakpoints, "lg" )) {
    justify-content: space-between;
    align-items: center;
    img {
      margin: 0;
    }
  }

  @media (max-width: map-get($breakpoints, "smd" )) {
    justify-content: space-between;
    align-items: center;
    .row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 15px 0;
      align-items: center;
      img {
        margin: 0 !important;
      }
    }
  }
}
