.Container {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  overflow-y: scroll;
}
.Header {
  height: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-right: 150px;
    padding-left: 100px;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}
.subRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.info {
  margin-left: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 307px;
  
}
.themes {
  font-size: 12px;
  margin-right: 15px;
}
.themesGroupe {
  display: flex;
  flex-direction: row;
  width: 230px;
  margin-left: 15px;
  flex-wrap: wrap;
  min-height: 45px;
}
.warningIcon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.warningText {
  color: red;
  margin-left: 11px;
}
