.activityContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 75px;
}

.infoStyle {
  border: solid 1px rgba(117, 51, 255, 0.15);
  background-image: linear-gradient(83deg, #5065ff, #a422c9);
}
.activitiesContainer {
  padding: 5% 9%;
  width: 100%;
}

@media only screen and (max-width: 916px) {
  .activitiesContainer {
    padding: 5% 0;
  }
}
.bar_color{
  background-image: linear-gradient(to left, #a422c9, #5065ff);
  left: 0

}
