.activityContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-width: 70%;
}
.infoStyle {
  border: solid 1px rgba(117, 51, 255, 0.15);
  background-image: linear-gradient(83deg, #5065ff, #a422c9);
}
.checkContainer {
  margin: 5% 9%;
}

@media only screen and (max-width: 767px) {
  .checkContainer {
    margin: 5% 0;
  }
}
